@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$dark-green: #006D77;
$highlight-color: #3e8b90;
$background-color: #BBE9E4;
$section-color: #ECFFFD;
$accent-color: #dff3f16b;

body {
	font-family: 'Lato', sans-serif;
	background-color: $background-color;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: $dark-green;
	background-color: $background-color;
}

.top-bar {
	display: flex;
	height: 3.5em;
	min-height: 50px;
	width: 100%;
	position: fixed;
	background-color: $dark-green;
	justify-content: center;
	align-items: center;
	z-index: 10;

	@media (max-width: 840px) {
		font-size: 0.8em;
	}

	@media (max-width: 700px) {
		font-size: 0.6em;
	}

	@media (max-width: 515px) {
		justify-content: center;
		align-self: center;
	}

	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: $section-color;
		cursor: pointer;
		font-size: 1.3em;
		padding: 0 16px;
		height: 100%;

		@media (max-width: 515px) {
			padding: 0 8px;

			&:first-of-type {
				margin-left: auto;
			}
		}

		&:hover {
			&:not(.resume-text) {
				background-color: #327C83;
			}
		}

		&.current {
			background-color: $highlight-color;
			border-bottom: 3px solid $section-color;
		}
	}

	.resume-btn {
		height: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		margin-right: 20px;
		right: 0px;
		cursor: pointer;
		padding: 0 10px;
		font-size: 0.7em;

		&:hover {
				background-color: #327C83;
		}

		@media (max-width: 700px) {
			margin-right: 5px;
		}

		@media (max-width: 515px) {
			position: relative;
			margin-left: auto;
		}

		span {
			border-bottom: 2px solid $section-color;
			height: fit-content;
			padding: 0 8px;

			svg {
				padding-left: 8px;
			}
		}

	}
}

.content {
	padding-top: 3.5em;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.wrapper
	{
		padding-bottom: 80px;
		margin-bottom: 20px;
		width: 100%;
	}

	.divider
	{
		position: relative;
		margin-top: 90px;
		height: 1px;
	}

	.div-transparent:before
	{
		content: "";
		position: absolute;
		top: 0;
		left: 5%;
		right: 5%;
		width: 90%;
		height: 1px;
		background-image: linear-gradient(to right, transparent, $dark-green, transparent);
	}

	.div-arrow-down:after
	{
		content: "";
		position: absolute;
		z-index: 1;
		top: -7px;
		left: calc(50% - 7px);
		width: 14px;
		height: 14px;
		transform: rotate(45deg);
		background-color: $background-color;
		border-bottom: 1px solid $dark-green;
		border-right: 1px solid $dark-green;
	}

	#home {
		width: 100%;
		margin: 75px 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		.picture-backing {
			width: 200px;
			height: 200px;
			border-radius: 100%;
			overflow: hidden;
			justify-content: center;
			display: flex;
			border: 3px solid $dark-green;

			.img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}

		h1 {
			font-size: 6em;
			text-align: center;
			margin: 0;
			margin-top: 10px;

			@media (max-width: 840px) {
				font-size: 3em;
			}

			@media (max-width: 400px) {
				font-size: 2.5em;
			}
		}

		h2 {
			margin: 0;

			@media (max-width: 840px) {
				font-size: 1em;
			}
		}

		.logo-holder {
			margin-top: 20px;
			display: flex;

			div {
				width: 50px;
				height: 50px;

				.icon {
					height: 50px;
					width: 50px;
					color: $dark-green;
					background-color: $section-color;
					border-radius: 100%;
					cursor: pointer;

					&.icon-linkedin2 {
						color: $section-color;
						background-color: $dark-green;
					}
				}

				&:not(:last-of-type) {
					margin-right: 20px;
				}
			}
		}
	}

	#about {
		width: 80%;
		margin-bottom: 20px;

		.about-backing {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: $section-color;
			padding: 3rem;
			border-radius: 10px;

			h3 {
				margin: 0;
				margin-bottom: 2.2rem;
				font-size: 3.5rem;
			}

			p {
				margin: 0;
				font-size: 1.2rem;
				line-height: 200%;
				max-width: 75ch;

				@media (max-width: 515px) {
					font-size: 0.8em;
					line-height: 24px;
				}
			}
		}
	}

	#experience {
		width: 80%;
		margin-bottom: 20px;

		.experience-backing {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: $section-color;
			padding: 3rem;
			border-radius: 10px;

			h3 {
				margin: 0;
				margin-bottom: 0.9em;
				font-size: 3.5em;
				align-self: center;
			}

			.experience-content {

				h4 {
					margin: 0;
					margin-bottom: 20px;
					font-size: 2em;
					border-bottom: 3px solid $dark-green;
					padding: 0 10px 4px;

					@media (max-width: 600px) {
						font-size: 1.5em;
					}

					@media (max-width: 440px) {
						font-size: 1.15em;
					}

					&:last-of-type {
						margin-top: 45px;
					}
				}

				p {
					margin: 0;
					font-size: 1.2em;
					line-height: 200%;
					max-width: 75ch;

					@media (max-width: 515px) {
						font-size: 0.8em;
						line-height: 24px;
					}
				}
			}
		}
	}

	#projects {
		width: 100%;
		margin-bottom: 80px;

		.projects-label {
			font-size: 2.5em;
			padding: 1rem;
			width: fit-content;
			border-radius: 0 20px 0 0;
			border-bottom: 3px solid $section-color;
			background-color: $dark-green;
			color: $section-color;
		}

		.projects-content {
			background-color: $dark-green;
			color: $section-color;
			width: 100%;
			display: flex;
			flex-direction: column;

			.projects-bar {
				width: 100%;
				display: flex;
				align-items: center;

				h3 {
					margin: 0;
					padding: 40px 20px;
					font-size: 2.5em;
				}

				.icon {
					cursor: pointer;
					width: 50px;
					height: 50px;
					margin-left: auto;
					margin-right: 20px;
				}
			}

			.image-picker {
				width: 100%;
				background-color: rgba(223, 243, 241, 0.4);
				display: flex;
				flex-direction: column;

				img {
					max-height: 400px;
					margin: 30px auto;
					box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.3),
						 0px 8px 17px rgba(0, 0, 0, 0.3);

					width: auto ;
					max-width: 100% ;
					height: auto ;
				}

				.image-options {
					display: flex;
					flex-direction: row;
					margin: 0 auto 20px;
					height: 20px;
					align-items: center;
					justify-content: center;

					.circle {
						height: 15px;
						width: 15px;
						border-radius: 100%;
						cursor: pointer;
						background-color: $background-color;
						transition: 100ms height ease-out,
							100ms width ease-out,
							200ms color ease-in;

						&.active {
							background-color: $section-color;
						}

						&:hover {
							height: 18px;
							width: 18px;
						}

						&:not(:last-of-type) {
							margin-right: 10px;
						}
					}
				}
			}

			.text-holder {
				justify-content: center;
				display: flex;
				flex-direction: column;
				align-items: center;

				h4 {
					font-size: 2em;
					margin: 30px 0 0 0;
					text-align: center;
				}

				p {
					margin: 30px 50px 30px 50px;
					max-width: 75ch;
    			font-size: 1.2em;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}

			.button-holder {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 50px 0;

				button {
					background-color: $section-color;
					color: $dark-green;
					padding: 10px;
					border-radius: 10px;
					font-size: 1.5em;
					min-width: 150px;
					border: 0;
					cursor: pointer;

					&:last-of-type {
						margin-left: 50px;
					}

					&:hover {
						background-color: #d0eae8;
					}
				}
			}
		}
	}

}

.footer-holder {
	display: inline-grid;
	width: 100%;
	margin-top: auto;
	height: 230px;
	overflow: hidden;
	justify-content: center;

	.footer {
		display: flex;
		height: 460px;
		width: 120vw;
		background-color: $dark-green;
		border-radius: 100%;
		justify-content: center;

		span {
			box-shadow: 0px 4px 12px #00000059;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			cursor: pointer;
			background-color: $section-color;
			margin-top: 52.5px;
			width: 125px;
			height: 125px;
			border-radius: 100%;
			font-size: 4em;
			transition: background-color 100ms ease-out;

			.arrow-up {
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;

				border-bottom: 50px solid $dark-green;
				transition: border 100ms ease-out;
			}

			&:hover {
				background-color: #d3ebe7;

				.arrow-up {
					border-bottom-color: #026169;
				}
			}
		}
	}
}

.icon {
	color: $section-color;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

a {
	text-decoration: none;
}

button {
	transition: background-color 100ms ease-out;
}
